.body {
	box-sizing: border-box;
  font-family: 'Inter', Verdana, sans-serif;;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #5C6168;
	background: #D5DAE4;
	width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 595px;
}
.header {
	top:20px;
}
.header__contacts {
	padding-left: 22px;
	
}
.header__contacts-item {
	list-style-type: none;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 14px;
}
.header__contacts-icon {
	height: 20px;
}

.header .right-white {
	padding: 40px 0 0 24px;;
	display: flex;
}

.header__contacts-link {
	text-decoration: none;
	color: #5C6168;
	transition: .3s ease-in-out;
}

.header__contacts-link:hover {
	box-shadow: 0 1px 0 white, 0 2px 0 #969696;
}