.body {
	box-sizing: border-box;
  font-family: 'Inter', Verdana, sans-serif;;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #5C6168;
	background: #D5DAE4;
	width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 770px;
	background: white;
}

.left-grey {
	flex-basis: 180px;
	flex-shrink: 0;
	flex-wrap: wrap;
	padding-left: 45px;
	padding-right: 14px;
	background: #E8EAEE;
}

.right-white {
	padding-right: 45px;
}


/*----------HEADER----------*/

.header {
	width: 100%;
	display: flex;
}


.h1 {
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;
	text-transform: uppercase;
	color: #3f4246;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__profesion {
	display: flex;
	align-items: baseline;
	gap: 7px;
}
.header__profesion-logo {
	width: 10px;
	height: 6px;
	background: #D67215;
}
.header__profesion-text {
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #5C6168;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__location {
	display: flex;
	align-items: center;
	gap: 7px;
}
.header__location-logo {
	width: 10px;
}
.header__location-text {
}


.header__img-wrap {
	
	position: relative;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
}
.header__img {
	position: absolute;
	top: -5%;
  width: 140px;
}
.header__contacts {
	padding-left: 22px;
	
}
.header__contacts-item {
	list-style-type: none;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 14px;
}
.header__contacts-icon {
	height: 20px;
}

.header > .right-white {
	padding: 40px 0 0 24px;;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.header__contacts-link {
	text-decoration: none;
	color: #5C6168;
	transition: .3s ease-in-out;
}

.header__contacts-link:hover {
	box-shadow: 0 1px 0 white, 0 2px 0 #969696;
}

/*----------MAIN----------*/

.main {
	width: 100%;
	display: flex;

}

.left-grey {
}

.left-grey > .main__h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #5C6168;
	margin-top: 25px;
	margin-bottom: 11px;
}

.left-grey-line {
	width: 33px;
	border-top: 1.5px solid #5C6168;
}

.left-grey > .main__text {
	padding-left: 0px;
}

.main__course {
	margin-top: 16px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #5C6168;
}

.right-white > .main__text {
	margin-top: 16px;
	padding-left: 24px;
}

.right-white > .main__h2 {
	padding-left: 24px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #5C6168;
	margin-top: 25px;
	margin-bottom: 11px;
}
.right-grey-line {
	width: 130px;
	border-top: 1.5px solid #5C6168;
}

.main__list-item {
	padding: 6px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
}

.main__list {
	margin-top: 16px;
	padding-left: 12px;
}

.main__code {
	background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  font-size: 0.9em;
  margin: 0 50px;
  padding: 0.25em 0.65em;
  display: block;
	margin-top: 16px;
}